[Desktop Entry]
Name=Fceux for PG2v2
Comment=NES/Famicom emulator
Exec=fceux %f
Terminal=false
Type=Application
MimeType=application/zip;application/x-nes-rom;
StartupNotify=true
Icon=fceux
Categories=emulators;
